# Dependências
node_modules/

# Variáveis de ambiente (NUNCA enviar para o GitHub)
.env

# Logs
*.log
npm-debug.log*

# Sistema operacional
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build
dist/
build/